<div class="row-fluid">
	<button class="btn span12" id="update_firmware" data-bind="click: update_firmware, enable: !printerState.isOperational() && loginState.isUser() && enableUpdating"><span>{{ _('Update Printer Firmware') }}</span></button>
</div>